<!doctype html>
<html>
  <head>
    <%= partial 'partials/meta_tags' %>
  </head>
  <body>
    <%= partial 'partials/header' %>

    <div class='main-container'>
      <div class='articles'>
        <%= yield %>
      </div>

      <%= partial 'partials/asides' %>
    </div>

    <%= partial 'partials/footer' %>
  </body>
</html>
