<!doctype html>
<html>
  <head>
    <%= partial 'partials/meta_tags' %>
    <%= partial 'partials/article-meta' %>
  </head>
  <body>
    <%= partial 'partials/facebook-sdk' %>
    <%= partial 'partials/header' %>

    <div class='main-container'>
      <div class='articles'>
        <article class='article'>
          <div class='article-header'>
            <p class='date'><%= current_article.date.strftime('%Y-%m-%d') %></p>
            <h1><%= link_to current_article.title, current_article %></h1>
          </div>
          <div class='article-body'>
            <%= current_article.body %>
          </div>
          <div class='article-footer'>
            <div class='social-buttons'>
              <%= partial 'partials/twitter-share-button' %>
              <%= partial 'partials/hatena-bookmark-button' %>
              <%= partial 'partials/facebook-share-button' %>
            </div>

            <% if current_article.article_next %>
              <%= link_to "« #{current_article.article_next.title}", current_article.article_next, class: 'next-article' %>
            <% end %>
            <% if current_article.article_previous %>
              <%= link_to "#{current_article.article_previous.title} »", current_article.article_previous, class: 'prev-article' %>
            <% end %>
          </div>

        </article>
      </div>

      <%= partial 'partials/asides' %>
    </div>

    <%= partial 'partials/footer' %>

    <script type="text/javascript" src="https://b.st-hatena.com/js/bookmark_button.js" charset="utf-8" async="async"></script>
  </body>
</html>
