<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv='X-UA-Compatible' content='IE=edge;chrome=1' />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title><%= current_article.title + ' - ' unless current_article.nil? %>Folioscope</title>
    <%= feed_tag :atom, "#{blog.options.prefix.to_s}/feed.xml", title: "Atom Feed" %>

    <%= stylesheet_link_tag :site %>
    <%= javascript_include_tag :all %>
  </head>
  <body>
    <%= partial 'partials/header' %>

    <div class='main-container'>
      <div class='articles'>
        <article class='article'>
          <p class='date'><%= current_article.date.strftime('%Y-%m-%d') %></p>
          <h1><%= link_to current_article.title, current_article %></h1>
          <%= current_article.body %>
        </article>
      </div>

      <%= partial 'partials/asides' %>
    </div>

    <%= partial 'partials/footer' %>
  </body>
</html>
